*.exe.config
*.pdb
*.vshost.exe.manifest
*.vshost.exe
*.suo
JsonDecrypter/obj/*
*.sdf
*.exe.intermediate.manifest
AssetBundleExtractor/Debug/
AssetBundleExtractor/ipch/
AssetBundleExtractor/Release/
AssetExtractor/bin/
AssetExtractor/obj/
ExtractedAssets/
RawAssets/
PNGProcessor/bin/
PNGProcessor/obj/